<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">เครื่องอ่านบัตร<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">อุปกรณ์อ่านบัตรแบบอเนกประสงค์(Smart Card Reader)</a>
       
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">เครื่องสำรองไฟฟ้าขนาดต่างๆ<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">เครื่องสํารองไฟฟ้า ขนาด 1 kVA</a>
        <a href="" class="dropdown-item">เครื่องสํารองไฟฟ้า ขนาด 2 kVA</a>
        <a href="" class="dropdown-item">เครื่องสํารองไฟฟ้า ขนาด 3 kVA</a>
        <a href="" class="dropdown-item">เครื่องสํารองไฟฟ้า ขนาด 10 kVA</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">เครื่องพิมพ์ประเภท และชนิดต่างๆ<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">เครื่องพิมพ์ชนิด Dot Matrix Printer แบบแคร่สั้น</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์ชนิด Dot Matrix Printer แบบแคร่ยาว</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์แบบฉีดหมึกพร้อมติดตั้งถังหมึกพิมพ์ (Ink Tank Printer)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์แบบฉีดหมึก (Inkjet Printer) สําหรับกระดาษขนาด A3</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์เลเซอร์ หรือ LED ขาวดํา (18 หน้า/นาที)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์เลเซอร์ หรือ LED ขาวดํา ชนิด Network แบบที่ 1 (28 หน้า/นาที)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์เลเซอร์ หรือ LED ขาวดํา ชนิด Network แบบที่ 2 (38 หน้า/นาที)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์เลเซอร์ หรือ LED สี ชนิด Network แบบที่ 1 (20 หน้า/นาที)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์เลเซอร์ หรือ LED สี ชนิด Network แบบที่ 2 (27 หน้า/นาที)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์เลเซอร์ หรือ LED ขาวดํา ชนิด Network สําหรับกระดาษขนาด A3</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์ Multifunction แบบฉีดหมึกพร้อมติดตั้งถังหมึกพิมพ์ (Ink Tank Printer)</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์ Multifunction เลเซอร์ หรือ LED ขาวดํา</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์ Multifunction เลเซอร์ หรือ LED สี</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์วัตถุ 3 มิติ</a>
        <a href="" class="dropdown-item">เครื่องพิมพ์แบบใช้ความร้อน (Thermal Printer)</a>

    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">เครื่องสแกนเนอร์ ประเภทต่างๆ<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">สแกนเนอร์สําหรับงานเก็บเอกสารระดับศูนย์บริการ แบบที่ 1</a>
        <a href="" class="dropdown-item">สแกนเนอร์สําหรับงานเก็บเอกสารระดับศูนย์บริการ แบบที่ 2</a>
        <a href="" class="dropdown-item">สแกนเนอร์สําหรับงานเก็บเอกสารระดับศูนย์บริการ แบบที่ 3</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">จอแสดงภาพ<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">จอแสดงภาพขนาดไม่น้อยกว่า 19 นิ้ว</a>
        <a href="" class="dropdown-item">จอแสดงภาพขนาดไม่น้อยกว่า 21.5 นิ้ว</a>
        
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ค่าเช่าพื้นที่ตู้RackและระบบCloud<br>สำหรับระบบสารสนเทศขององค์กร<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">ค่าเช่าพื้นที่ตู้Rackสําหรับวางระบบคอมพิวเตอร์<br>(Rack Data Center Co-location)ขนาดไม่น้อยกว่า 42U</a>
        <a href="" class="dropdown-item">ค่าเช่าใช้บริการระบบ Cloud Server แบบที่ 1</a>
        <a href="" class="dropdown-item">ค่าเช่าใช้บริการระบบ Cloud Server แบบที่ 2</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ค่าเช่าพื้นที่ตู้ Rack และ ระบบ Cloud
        <br>สำหรับระบบสารสนเทศขององค์กร<i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">ชุดโปรแกรมระบบปฏิบัติการสําหรับเครื่องคอมพิวเตอร์และเครื่องคอมพิวเตอร์โน๊ตบุก
        <br>แบบสิทธิการใช้งานประเภทติดตั้งมาจากโรงงาน (OEM)</a>
        <a href="" class="dropdown-item">ชุดโปรแกรมระบบปฏิบัติการสําหรับเครื่องคอมพิวเตอร์แม่ข่าย (Server) <br>สําหรับรองรับหน่วยประมวลผล กลาง (CPU) ไม่น้อยกว่า
        16 แกนหลัก (16 core)</a>
        <a href="" class="dropdown-item">ชุดโปรแกรมจัดการสํานักงาน แบบที่ 1</a>
        <a href="" class="dropdown-item">ชุดโปรแกรมจัดการสํานักงาน แบบที่ 2</a>
        <a href="" class="dropdown-item">ชุดโปรแกรมจัดการสํานักงาน แบบที่ 3</a>
        <a href="" class="dropdown-item">ชุดโปรแกรมป้องกันไวรัส</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">กล้องโทรทัศน์วงจรปิด<i class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายในสำนักงาน</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายนอกสำนักงาน</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายในอาคาร <br>สำหรับใช้ในงานรักษาความปลอดภัยทั่วไปและงานอื่นๆ</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายนอกอาคาร<br> สำหรับใช้ในงานรักษา
        ความปลอดภัยทั่วไปและงานอื่นๆ</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบปรับมุมมอง<br> สำหรับใช้ในงานรักษาความปลอดภัยทั่วไปและงาน อื่นๆ</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายในอาคาร <br>แบบที่ 1 สำหรับใช้ในงานรักษาความปลอดภัย
        วิเคราะห์ภาพ และงานอื่นๆ</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายในอาคาร<br> แบบที่ 2 สำหรับใช้ในงานรักษาความปลอดภัย
        วิเคราะห์ภาพ และงานอื่นๆ</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายนอกอาคาร <br>แบบที่ 1 สำหรับใช้ในงานรักษาความปลอดภัย
        วิเคราะห์ภาพ และงานอื่นๆ</a>
        <a href="" class="dropdown-item">กล้องโทรทัศน์วงจรปิดชนิดเครือข่าย แบบมุมมองคงที่สำหรับติดตั้งภายนอกอาคาร<br> แบบที่ 2 สำหรับใช้ในงานรักษาความปลอดภัย
        วิเคราะห์ภาพ และงานอื่นๆ</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">อุปกรณ์บันทึกภาพผ่านเครือข่าย<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">อุปกรณ์บันทึกภาพผ่านเครือข่าย (Network Video Recorder) แบบ 8 ช่อง</a>
        <a href="" class="dropdown-item">อุปกรณ์บันทึกภาพผ่านเครือข่าย (Network Video Recorder) แบบ 16 ช่อง</a>
        <a href="" class="dropdown-item">อุปกรณ์บันทึกภาพผ่านเครือข่าย (Network Video Recorder) แบบ 32 ช่อง</a>
    </div>
</div>
<div class="nav-item dropdown dropright">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">อุปกรณ์กระจายสัญญาณแบบ PoE<i
            class="fa fa-angle-right float-right mt-1"></i></a>
    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
        <a href="" class="dropdown-item">อุปกรณ์กระจายสัญญาณแบบ PoE (PoE L2 Switch) ขนาด 8 ช่อง</a>
        <a href="" class="dropdown-item">อุปกรณ์กระจายสัญญาณแบบ PoE (PoE L2 Switch) ขนาด 16 ช่อง</a>
    </div>
</div>


